<p>
	<label for="luga" class="rem">Lugar:</label>
	<input type="text" id="luga" name="prenda[lugar]" value="<%=prenda.lugar%>"> 
</p>
<p>
	<label for="codi" class="rem">Codigo:</label>
	<input type="text" id="codi" name="prenda[codigo]" value="<%=prenda.codigo%>"> 
</p>	
<p>
	<label for="vist" class="rem">Vistos:</label>
	<input type="number" id="vist name="prenda[vistos]" value="<%=prenda.vistos%>"> 
</p>

<a href="/prendas"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar" />

