<table>
<% var i; for (i=0; i < prendas.length; i++) { %>		
	<a href=<%=prendas[i].lugar %> target="_blank" > <%=prendas[i].lugar %> Mira </a>	
<% } %>		
</table>						

 <!--<tr><td><a href="l_prendas/
 <!--prendas[i].id ">prendas[i].lugar %></a></td></tr>	-->
