<table>
<% var i; for (i=0; i < prendas.length; i++) { %>		
	<a href=<%=prendas[i].lugar %> target="_blank" > <%=prendas[i].lugar %> Mira</a><br>
<% } %>		
</table>						

<a href="/prendizes/new"><button>Crear prenda</button></a>

 
